.wrapper {
    background-color: #fff;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 32px;
    margin-right: 52px;
    text-decoration: none;
}

.schedule-btn {
    font-size: 16px;
    color: #fff;
    background-color: #05ba6e;
    border-radius: 12px;
    min-width: 206px;
    border: none;
    padding: 8px;
}

.list-btn {
    font-size: 16px;
    color: #fff;
    background-color: #0599ba;
    border-radius: 12px;
    min-width: 216px;
    border: none;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: 16px;
    &:hover {
        cursor: pointer;
        background-color:#14b7dc ;
    }
}

.patient-info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    color: #271e4a;
}

.patient-info-wrapper {
    display: flex;
    align-items: center;
}

.avatar {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 46px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}

.body {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    flex: 1;
    border-radius: 32px;
    margin-left: 16px;
    padding: 16px 32px;
}

.body-title {
    font-size: 24px;
    color: #271e4a;
}

.body-content {
    font-size: 20px;
    color: #271e4a;
    text-align: left;
}

.list-info {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 0;
}

.list-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-info-header {
    font-size: 24px;
    color: #271e4a;
    font-weight: 600;
    margin: 0;
}

.list-info-content {
    font-size: 18px;
    color: #271e4a;
    font-weight: 200;
    margin: 0;
    padding: 16px 0;
}

.history-wrapper {
    background-color: #fff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 4px 25px rgba(0, 0, 0, 0.25);
    margin-top: 32px;
    padding: 16px 48px;
}

.history-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.history-wrapper-header {
    font-size: 24px;
    color: #271e4a;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.history-btn {
    border: none;
    background-color: #0599ba;
    color: #fff;
    padding: 12px 32px;
    border-radius: 16px;
}

.history-title-wrapper {
    background-color: #edf4fc;
    margin-top: 16px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.history-title-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    padding: 0 16px;
}

.history-title-item {
    font-size: 16px;
    color: #271e4a;
}

.history-body-wrapper {
    max-height: 300px;
    overflow-y: scroll;
}

.history-body-list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    padding: 12px;
    margin-left: -4px;
    background-color: #ffdddd24;
    border: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-around;
}

.history-body-item {
    text-align: left;
    color: #3f779b;
    margin-left: 84px;
}

.history-body-item--date {
    color: #271e4a;
    margin-left: 58px;
}

.history-body-item--content {
    max-width: 240px;
    color: black;
    margin-left: 98px;
}

.history-body-item--edit {
    margin-left: 196px;
    margin-right: 68px;
}
